HOST_URL_local=http://localhost:3000
HOST_URL_prod=https://askpdfpro.vercel.app

#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/signin
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup

NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/signup
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/chats
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL="/signup"
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL="/chats"



#DB 'ask-pdf' in neon
DATABASE_URL=

#MONGODB
MONGODB_UNAME=
MONGODB_PASS=
MONGODB_URL=

#PINECONE
PINECONE_ENVIRONMENT=
PINECONE_API_KEY=

#GEMINI APIs
GEMINI_API_KEY=
#same GEMINI API here also
GOOGLE_GENERATIVE_AI_API_KEY= 